<h1 style="text-align: center;">Change Password</h1>
<div class="form-container">
    <form [formGroup]="changePassword" (ngSubmit)="onReset()">
        <input type="password" placeholder="Current Password" formControlName="currentPassword" required>
        <small *ngIf="changePassword.get('currentPassword')?.hasError('required') && changePassword.get('currentPassword')?.touched">
            <div style="color: red;">*Enter this field to proceed</div>
        </small>
        <input type="password" placeholder="New Password" formControlName="newpassword" required>
        <small *ngIf="changePassword.get('newpassword')?.hasError('required') && changePassword.get('newpassword')?.touched">
            <div style="color: red;">*Enter this field to proceed</div>
        </small>
        <small *ngIf="changePassword.get('newpassword')?.hasError('pattern')">
            <div [style.color]="hasMinLength ? 'green' : 'red'">*Enter at least 8-12 characters</div>
            <div [style.color]="hasUppercase ? 'green' : 'red'">*Should consist an uppercase</div>
            <div [style.color]="hasAlphanumeric ? 'green' : 'red'">*Should consist alphanumeric</div>
            <div [style.color]="hasSpecialChar ? 'green' : 'red'">*Should consist special char (!"&#64;"#$%^&*)</div>
        </small>
        <button type="submit">Reset</button>
    </form>
</div>