<div class="login-page">
    <h1>Login Here</h1>
    <div class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <input type="email" placeholder="Email ID" formControlName="email" required>
            <input type="password" placeholder="Password" formControlName="password" required>
            <div class="captcha">
                Captcha: <span>{{captcha}}</span>
                <button type="button" (click)="refreshCaptcha()" class="refresh">
                </button>
            </div>
            <input type="text" placeholder="Enter Captcha" formControlName="captchaInput" required>
            <button type="submit">Login</button>
        </form>
        <p>Didn't Register yet? <a routerLink="/signup">Signup</a></p>
        <p><a routerLink="/forgetpassword">Forgot Password?</a></p>
    </div>
</div>
