<header>
    <nav class="navbar">
        <a routerLink="/"><p>Carzy</p></a>
        <div class="nav-right">
            <a class="navbar-brand" routerLink="/">Home</a>
            <a routerLink="/vehicletypes">Vehicle  types </a>
            <a routerLink="/about-us">About Us</a>
            <a routerLink="/contact-us">Contact Us</a>
    
            <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
                <a routerLink="/login">Login</a>
                <a routerLink="/signup">Sign Up</a>
            </ng-container>
    
            <ng-template #loggedInBlock>
                <a routerLink="/profile">Profile</a>
                <a (click)="logout()" style ="cursor:pointer;">Logout</a>
            </ng-template>
    
    
        </div>
    </nav>
    </header>
    <footer>
        <h3>&copy; {{ currentYear }} Carzy Rentals. All Rights Reserved.</h3>
    </footer>  
    
    <router-outlet></router-outlet>