<div class="reset-page">
    <h1>Reset Your Password</h1>
    <div class="form-container">
        <form [formGroup]="forgetPassword" (ngSubmit)="onReset()">
            <input type="email" placeholder="Email ID" formControlName="email" required>
            <input type="password" placeholder="New Password" formControlName="newpassword" required>
            <small *ngIf="forgetPassword.get('newpassword')?.hasError('pattern')">
                <div [style.color]="hasMinLength ? 'green' : 'red'">*Enter at least 8-12 characters</div>
                <div [style.color]="hasUppercase ? 'green' : 'red'">*Should consist an uppercase</div>
                <div [style.color]="hasAlphanumeric ? 'green' : 'red'">*Should consist alphanumeric</div>
                <div [style.color]="hasSpecialChar ? 'green' : 'red'">*Should consist special char (!"&#64;"#$%^&*)</div>
            </small>
            <input type="password" placeholder="Confirm Password" formControlName="confirmpassword" required>
            <small *ngIf="hasPasswordMismatch" style="color: red;">Passwords do not match!</small>
            <button type="submit">Reset</button>
        </form>
    </div>
</div>
