<div class="profile-container">
  <div class="profile-card">
    <img src="assets/profile.png" class="avatar" alt="User Avatar">
    <h2>Palak Sharma</h2>
    <p>Email: palak@example.com</p>
    <p>Phone: +91-678905432</p>

    <button [routerLink]="['/edit-profile']">Edit Profile</button>
    <button [routerLink]="['/cancelbooking']">Cancel Booking</button>
  </div>

  <div class="history">
    <div class="form-group">
      <label for="car-type">Booking History:</label>
      <select id="car-type" [(ngModel)]="check" class="form-control">
        <option value="all">All</option>
        <option value="Active">Active</option>
        <option value="Completed">Completed</option>
        <option value="cancelled">cancelled</option>
      </select>
    </div>
    <div class="book-card" *ngFor="let book of filteredCars">
      <div class="book-header">
        <div class="book-info">
          <p class="book-date">{{ book.date }}</p>
          <p class="book-type">{{ book.type }} <span *ngIf="book.city"></span></p>
          <p class="book-city" *ngIf="book.city">{{ book.city }}</p>
        </div>
        <div class="book-right">
          <p class="fare" *ngIf="book.fare">₹{{ book.fare }}</p>
          <div class="driver-icons">
            <img [src]="book.vehicleImg" alt="car" class="vehicle-img">
          </div>
        </div>
      </div>
      <div class="cancelled" *ngIf="book.status === 'cancelled'">
        CANCELLED
      </div>
      <div class="cancelled" *ngIf="book.status === 'Active'">
        ACTIVE RIDE
      </div>
      <div class="cancelled" *ngIf="book.status === 'Completed'">
        COMPLETED RIDE
      </div>
    </div>
  </div>
</div>